#app {
    width: 100%;
    text-align: center;
}

#editor {
    text-align: left;
    background-color: #efefef;
    display: inline-block;
    position: relative;
}

#frame-left {
    width: 26px;
    float: left;
}

#frame-right {
    width: 26px;
    float: right;
}

#frame-bottom {
    position: absolute;
    bottom: 0px;
}

.pixel, .color {
    width: 22px;
    height: 22px;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin: 1px;
}

.color:active {
    border-color: #6d6d6d;
}

.edge {
    line-height: 0px;
}

.picker {
    float: left;
    padding: 5px;
    border-radius: 3px;
    background-color: #eaeaea;
}

input[type=button]#save-button {
    background: #dfdfdf;
    width: 60px;
    height: 40px;
    font-size: 1.3em;
    border-radius: 3px;
}

body {
    margin: 0px;
}
